@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700;1,900&display=swap');

@font-face {
  font-family: "Booter - Zero Zero";
  src: url("../fonts/Booter - Zero Zero.woff") format("woff"),
       url("../fonts/Booter - Zero Zero.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary: #ccc;
  --mainWhite: #fff;
  --mainDark: #000;
  --mainRed: rgb(176, 16, 16, 0.623);
  --greenYellow: greenYellow;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* globals */
body {
  font-family: 'Raleway', sans-serif;;
  font-weight: 18.75rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color:inherit;
}

h1, h2 {
  font-family: "Booter - Zero Zero";
}

/*End Globals */
header {
  background-color: var(--mainRed);
  color: var(--mainWhite);
  min-height: 34.125rem;
  background: url("../Images/bcg-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

header > nav {
  display: flex;
  justify-content: center;
  padding: .625rem 1.25rem;
  border-bottom: 1px solid white;
  position:fixed;
  top: 0px;
  width: 100%;
}

header > nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > nav > ul >li {
  margin-right: 3.125rem;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.25rem;
}

header > nav > ul >li > a:hover {
  text-decoration: underline;
  /* color: var(--greenYellow); */
  text-decoration-color: var(--greenYellow);
  transition: all 1s ease-in-out;
  transform: scale(1.5);
  font-size: 2rem;
}

.banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.banner > div > h1 {
  font-size: 9.375rem;
  font-family: "Booter - Zero Zero";
}

.latest-arival > button {
  border: 1px solid black;
  border-radius: .3125rem;
  font-size:  24px;
  padding: .625rem 1.25rem;
  width: 18.75rem;
  background-color: rgba(255,255,255, 0.5);
  font-weight: bold;
}

.play-button > button {
  border-radius: .625rem;
  padding: .625rem 1.25rem;
  font-size: 2rem;
  margin-top : 1.25rem;
}

.events-container {
  display: flex;
  justify-content:center;
  align-items: center; 
  flex-direction: column;
}

.events-container > div > h2 {
  font-family: "Booter - Zero Zero";
  font-size: 4rem;
  margin: 0rem 0rem 3.32rem
}

table {
  border-spacing: 0px;
}

table > tbody > tr >td {
  border-bottom: 2px solid black;
  margin: 0;
  padding: 10px;
}

td > button { 
background-color: black;
color: white !important;
padding: .625rem 1.25rem;
border-radius: 5px;
text-align: center;
}

td > button:hover {
  background-color: rgb(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

tr { 
  border: solid;
  border-width: 1px 0;
  border-bottom: 1px solid #ff000d;
}

.footer {
  background-color: var(--mainDark);
  color: var(--mainWhite);
  margin-top: 40px;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  height: 50px;
  padding: 3.125rem 0rem;
  border-bottom: 5px solid var(--mainWhite)
}

.footer > div > h2 {
  font-size: 4.375rem;
}

.social-icons > i {
  font-size: 1.5rem;
  padding-right: 1.25rem;
}

.social-icons > i:hover {
  transform: translate3;
  transition: all 0.5s ease;
  cursor: pointer;
  font-size: 2rem;
}
